@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

history-timeline-component {
  display: block;
  position: relative;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    .image {
      flex-basis: 40%;
      img {
        display: inline-block;
      }
    }
    .date {
      padding: 0 50px;
      flex-basis: 20%;
      position: relative;
      align-self: stretch;
      display: flex;
      align-items: center;
      .axis {
        width: 6px;
        background-color: $color-blue-green;
        position: absolute;
        top: -30px;
        left: calc(50% - 3px);
        bottom: -30px;
        z-index: 0;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 6px solid $color-blue-green;
        font-family: 'titillium_webbold';
        font-size: 24px;
        color: $color-dark-gray;
        width: 80px;
        height: 80px;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        background-color: #fff;
        &.not-visible {
          visibility: hidden;
        }
      }
    }
    article {
      flex-basis: 40%;
    }
    &.even {
      flex-direction: row;
      .image {
        text-align: left;
      }
      article {
        text-align: right;
      }
    }
    &.odd {
      flex-direction: row-reverse;
      .image {
        text-align: right;
      }
      article {
        text-align: left;
      }
    }
    &.not-visible {
      visibility: hidden;
    }
    &.active {
      .date {

      }
    }
  }
}

@media all and (max-width: 991px) {

}

@media all and (max-width: 767px) {
  history-timeline-component {
    .item {
      flex-direction: row !important;
      align-items: flex-start;
      .image {
        order: 2;
      }
      .date {
        order: 1;
        padding: 0;
        margin-right: 40px;
        align-self: stretch;
      }
      article {
        order: 3;
        text-align: left !important;
        padding-left: 20px;
        h3 {
          margin-top: 10px;
        }
      }
    }
  }
}

@media all and (max-width: 479px) {
  history-timeline-component {
    .item {
      align-items: flex-start;
      .image {
        display: none;
        flex-basis: 0;
      }
      .date {
        align-self: stretch;
        flex-basis: 30%;
        span {
          width: 60px;
          height: 60px;
          font-size: 16px;
        }
      }
      article {
        padding: 0;
        flex-basis: 70%;
        h3 {
          font-size: 20px;
        }
      }
    }
    }
}