@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

.responsive-menu {
  position: fixed;
  z-index: 1001;
  top: 85px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 70px 20px 0;
  background-color: #fff;
  nav {
    display: block;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: block;
        padding: 0;
        margin: 0;
        a {
          display: block;
          padding: 5px;
          font-family: titillium_websemibold;
          font-size: 22px;
          color: $text-color;
          transition: color .3s $ease-in-out-quad;
          &:hover {
            text-decoration: none;
            color: $color-blue-green;
          }
        }
        &.active {
          a {
            color: $color-blue-green;
          }
        }
      }
    }
    &.main-menu {
      ul {
        li {
          a {
            text-align: right;
          }
        }
      }
    }
    &.lang-menu {
      position: absolute;
      top: 0;
      right: -40px;
      ul {
        li {
          display: block;
          margin: 0;
          padding: 0;
          a {
            width: 40px;
            padding: 5px;
            font-family: titillium_weblight;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            background-color: $color-blue-green;
          }
        }
      }
    }
  }
  &.ng-enter {
    opacity: 0;
    //transform: translateY(-100%);
    transition: opacity .4s $ease-in-out-quad, transform .4s $ease-in-out-quad;
  }
  &.ng-enter-active {
    opacity: 1;
    //transform: translateY(0);
  }
  &.ng-leave {
    opacity: 1;
    //transform: translateY(0);
    transition: opacity .4s $ease-in-out-quad, transform .4s $ease-in-out-quad;
  }
  &.ng-leave-active {
    opacity: 0;
    //transform: translateY(-100%);
  }
}