@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

.section-image-slider {
  &:nth-child(odd) {
    background-color: #f2f2f2;
  }
}

carousel-component {
  display: block;
  position: relative;
  opacity: 0;
  margin: 0 20px;
  transition: opacity .6s $ease-in-out-cubic;
  &.calculated {
    opacity: 1;
  }

  > div {
    transition: transform .6s $ease-in-out-cubic;
    .slide {
      float: left;
      opacity: 0;
      transition: opacity .6s $ease-in-out-cubic;
      .slide-content {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0 40px;
        .image {
          order: 1;
          img {
            width: 100%;
            display: block;
          }
        }
        article {
          padding: 20px 10px;
          order: 2;
        }
      }
      &:nth-child(odd) {
        .slide-content {
          .image {
            order: 2;
          }
          article {
            order: 1;
          }
        }
      }
      &.active {
        opacity: 1;
      }
    }
  }

  nav {
    position: absolute;
    z-index: 2;
    left: -20px;
    right: -20px;
    top: calc(50% - 20px);
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 2px solid $color-blue-green;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      color: $color-gray;
      outline: none;
      transition: color .4s $ease-in-out-cubic, background-color .4s $ease-in-out-cubic;
      i {
        font-size: 24px;
      }
      &.previous {
        float: left;
      }
      &.next {
        float: right;
        i {
          transform: rotate(180deg);
        }
      }
      &:hover {
        color: #fff;
        background-color: $color-blue-green;
      }
    }
  }
}

@media all and (max-width: 991px) {
  carousel-component {

  }
}

@media all and (max-width: 767px) {
  carousel-component {

  }
}