<div ng-swipe-left="$ctrl.changeSlide(true, $ctrl.activeItem + 1, $event)" ng-swipe-right="$ctrl.changeSlide(true, $ctrl.activeItem - 1, $event)"
     ng-style='{
        "transform": "translateX(-" + $ctrl.sliderPosition + "px",
        "-webkit-transform": "-webkit-translateX(-" + $ctrl.sliderPosition + "px",
        "-moz-transform": "-moz-translateX(-" + $ctrl.sliderPosition + "px",
        "-o-transform": "-o-translateX(-" + $ctrl.sliderPosition + "px"
        }'>
    <div class="slide" ng-repeat="($index, slide) in $ctrl.items" alt="{{slide.image.title}}" ng-class="{'active': $index == $ctrl.activeItem || $index == $ctrl.activeItem + 1}">
        <div class="slide-content">
            <div class="image">
                <img ng-src="{{slide.image.url}}" alt="{{slide.image.title}}">
            </div>
            <article ng-bind-html="slide.content"></article>
        </div>
    </div>
</div>

<nav ng-swipe-left="$ctrl.stopScroll($event)" ng-swipe-right="$ctrl.stopScroll($event)" ng-if="$ctrl.items.length > $ctrl.visible">
    <button type="button" class="previous" ng-click="$ctrl.changeSlide(true, $ctrl.activeItem - 1)">
        <i class="icon icon-arrow-bold-left"></i>
    </button>
    <button type="button" class="next" ng-click="$ctrl.changeSlide(true, $ctrl.activeItem + 1)">
        <i class="icon icon-arrow-bold-left"></i>
    </button>
</nav>