@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

path-timeline-component {
  display: block;
  position: relative;
  .section-modals-list-content {
    margin: 80px 40px 0;
    position: relative;
    canvas {
      position: absolute;
      z-index: 1;
    }
    .item-container {
      position: relative;
      z-index: 5;
      margin-top: -100px;
      &.not-visible {
        visibility: hidden;
        /*visibility: hidden;
        opacity: 0;
        transform: translateY(100px);
        transtion: opacity 1s $ease-in-out-cubic, transform 1s $ease-in-out-cubic;*/
      }
      .item {
        position: relative;
        width: 320px;
        .image {
          position: relative;
          img {
            width: 100%;
          }
        }
        h4 {
          text-align: left;
        }
        article {
          font-family: 'robotoregular';
          font-size: 15px;
        }
        .item-button {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 20%;
          background-color: #fff;
          width: 60px;
          height: 60px;
          border-radius: 100%;
          border: 3px solid $color-blue-green;
          cursor: pointer;
          transition: background-color .4s $ease-in-out-cubic;
          &.rwd {
            display: none;
            top: auto !important;
            left: auto !important;
            bottom: 20px !important;
            right: 20px !important;
          }
          span {
            color: $color-dark-gray;
            font-size: 40px;
            transition: color .4s $ease-in-out-cubic;
          }
          &:hover {
            background-color: $color-blue-green;
            span {
              color: #fff;
            }
          }
        }
      }
      &:first-of-type {
        margin-top: 0;
      }
      &:nth-of-type(odd) {
        .item {
          float: left;
          .item-button {
            right: -100px;
          }
        }
      }
      &:nth-of-type(even) {
        .item {
          float: right;
          .item-button {
            left: -100px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  path-timeline-component {
    .title {
      div {
        padding: 0;
      }
    }
    h2 {
      text-align: left;
    }
    .section-modals-list-content {
      margin: 40px 0 0;
      .item-container {
        margin-top: 40px;
        .item {
          width: auto;
          float: none !important;
          .image {
            width: 100%;
            max-width: 400px;
            img {
              width: 100%;
            }
          }
          .item-button {
            display: none;
            &.rwd {
              display: flex;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  path-timeline-component {

  }
}

@media all and (max-width: 479px) {
  path-timeline-component {

  }
}