<div class="section-modals-list-content">
    <canvas canvas-path-directive images="$ctrl.itemsImages"></canvas>

    <div class="item-container not-visible"
        when-visible="$ctrl.animateElementIn"
        ng-class="(key % 2 === 0 ? 'even' : 'odd')"
        ng-repeat="(key, item) in $ctrl.items">
        <div class="item">
            <div class="image">
                <img ng-src="{{item.image.url}}" alt="{{item.image.title}}" class="img-responsive">
                <div class="item-button rwd" dialog-directive dialog-data="item.modals"><span>+</span></div>
            </div>
            <h4>{{item.name}}</h4>
            <article ng-bind-html="item.content"></article>
            <div class="item-button" dialog-directive dialog-data="item.modals"><span>+</span></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>