@import '../../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'typography';

//ie sticky footer fix
.flexboxtweener, .flexboxtweener > body {
  height: 100%;
}

.button-primary {
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  border: 2px solid $color-blue-green;
  border-radius: 25px;
  font-family: 'robotobold';
  font-size: 15px;
  color: $color-blue-green;
  transition: background-color .4s $ease-in-out-cubic, color .4s $ease-in-out-cubic;
  &:hover {
    background-color: $color-blue-green;
    color: #fff;
    text-decoration: none;
  }
}

body {
  padding-top: 85px;
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden !important;
  header {
    .logo {
      float: left;
      display: block;
      h1 {

      }
    }
  }

  .main-container {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    overflow: hidden;
  }

  .section {
    padding: 90px 0;
    .title {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin-bottom: 40px;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        em {
          display: block;
          height: 3px;
          background-color: $color-light-gray;
        }
        h2 {
          margin: 0;
          font-family: titillium_weblight;
          font-size: 48px;
          color: $color-blue-green;
        }
      }
    }
    .tags {
      width: 80%;
      margin: -30px auto 40px;
      font-family: robotoregular;
      font-size: 19px;
      text-align: center;
    }
  }

  footer {
    padding-top: 60px;
    background-color: #f2f2f2;
    .footer-logo {
      margin-top: 55px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      img {
        display: inline-block;
        margin-right: 20px;
      }
      p {
        font-family: 'robotoregular';
        font-size: 14px;
        color: $color-gray;
      }
    }
    h3 {
      font-family: "titillium_webbold";
      font-size: 24px;
      color: $color-dark-gray;
    }
    .footer-menu {
      nav {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            a {
              font-family: 'robotoregular';
              font-weight: 600;
              font-size: 14px;
              color: $color-dark-gray;
            }
          }
        }
      }
    }
    .footer-contact {
      p {
        font-family: 'robotoregular';
        font-size: 16px;
        color: $color-dark-gray;
      }
    }
  }
  .footer-bottom {
    p {
      margin: 20px 0 10px;
      font-family: 'robotoregular';
      font-size: 15px;
      color: #000;
    }
  }

  .not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
    h2 {
      font-family: 'titillium_weblight';
      font-size: 48px;
      color: $color-blue-green;
      margin-bottom: 30px;
      text-align: center;
      strong {
        font-family: "titillium_webbold";
      }
    }
    p {
      font-family: 'titillium_webregular';
      font-size: 24px;
      color: $color-blue-green;
      text-align: center;
      a {
        font-family: "titillium_webbold";
        color: $color-blue-green;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .breadcrumbs {
    background-color: #fff;
    padding: 20px 0;
    a {
      display: inline-block;
      font-family: 'robotolight';
      font-size: 16px;
      color: #000;
      text-decoration: none;
      transition: color .4s $ease-in-out-cubic;
      &::after {
        content: ">";
        display: inline-block;
        margin: 0 5px 0 2px;
      }
      &:hover {
        color: $color-blue-green;
      }
    }
    span {
      display: inline-block;
      font-family: 'robotobold';
      font-size: 16px;
      color: #000;
    }
  }

  .default-content {
    background-color: #f2f2f2;
    .section-content {
      background-color: #fff;
      padding: 40px;
      article {
        font-size: 16px;
        line-height: 1.4;
        h2 {
          font-family: "titillium_webbold";
          font-size: 26px;
          margin: 0 0 20px 0;
        }
        h3 {
          font-family: "titillium_webbold";
          font-size: 22px;
          margin: 0 0 20px 0;
        }
        p {
          margin: 10px 0 30px;
        }
        ul {
          list-style: disc outside;
          padding-left: 20px;
          margin: 10px 0 30px;
          li {
            margin-bottom: 5px;
          }
        }
        p + ul {
          margin-top: -20px;
        }
        a {
          color: $color-blue-green;
          text-decoration: underline;
        }
        blockquote {
          margin: 10px 0 30px;
          font-family: 'robotolight';
          font-size: 34px;
          color: $color-dark-gray;
        }
      }
    }
  }

  .blog-list {
    background-color: #f2f2f2;
    .section-content {
      background-color: #fff;
      padding: 20px;
      .row {
        .item {
          display: block;
          padding: 10px 0;
          margin-bottom: 50px;
          text-decoration: none;
          overflow: hidden;
          transition: background-color .4s $ease-in-out-cubic;
          .image {

          }
          article {
            padding: 20px;
            h3 {
              font-family: "titillium_webbold";
              font-size: 24px;
              color: $color-dark-gray;
              margin: 0 0 10px 0;
            }
            .date {
              font-family: 'robotoregular';
              font-size: 14px;
              font-style: italic;
              color: $color-light-gray;
              transition: color .4s $ease-in-out-cubic;
            }
            .excerpt {
              margin: 10px 0;
              color: $color-dark-gray;
            }
            .more {
              font-family: 'titillium_websemibold';
              font-size: 16px;
              color: $color-blue-green;
            }
          }
          &:hover {
            background-color: $color-light-gray;
            article {
              .date {
                color: #fff;
              }
            }
          }
        }
        &:last-child {
          .item {
            margin-bottom: 0;
          }
        }
      }
    }
    .blog-pagination {
      display: block;
      text-align: center;
      margin: 40px 0;
      ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          a {
            display: inline-block;
            font-family: 'robotoregular';
            font-size: 15px;
            color: $color-dark-gray;
            text-decoration: none;
            position: relative;
            width: 22px;
            height: 22px;
            margin: 0 20px;
            text-align: center;
            transition: color .4s $ease-in-out-cubic;
            &::after {
              content: "";
              position: absolute;
              top: -3px;
              right: -3px;
              bottom: -3px;
              left: -3px;
              border: 2px solid $color-blue-green;
              border-radius: 100%;
              opacity: 0;
              transition: opacity .4s $ease-in-out-cubic;
            }
            &:hover {
              color: $color-light-gray;
            }
            &.active {
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .blog-single {
    background-color: #f2f2f2;
    .section-content {
      background-color: #fff;
      overflow: hidden;
      .news-image {
        margin-bottom: 40px;
      }
      .return-to-list {
        margin-bottom: 40px;
        a {
          display: inline-block;
          padding: 15px 40px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          background-color: $color-blue-green;
          font-family: "titillium_webbold";
          font-size: 16px;
          color: #fff;
          transition: background-color .4s $ease-in-out-cubic;
          &:hover {
            text-decoration: none;
            background-color: lighten($color-blue-green, 20%);
          }
        }
      }
      article {
        padding: 20px 40px;
        font-size: 16px;
        line-height: 1.4;
        h2 {
          font-family: "titillium_webbold";
          font-size: 26px;
          margin: 0 0 10px 0;
        }
        .date {
          font-family: 'robotoregular';
          font-size: 14px;
          font-style: italic;
          color: $color-light-gray;
          transition: color .4s $ease-in-out-cubic;
        }
        .lead {
          font-family: 'robotoregular';
          font-size: 17px;
          margin: 10px 0 20px;
        }
        p {
          margin: 10px 0 30px;
        }
        ul {
          list-style: disc outside;
          padding-left: 20px;
          margin: 10px 0 30px;
          li {
            margin-bottom: 5px;
          }
        }
        p + ul {
          margin-top: -20px;
        }
        a {
          color: $color-blue-green;
          text-decoration: underline;
        }
        blockquote {
          margin: 10px 0 30px;
          font-family: 'robotolight';
          font-size: 34px;
          color: $color-dark-gray;
        }
      }
      .prev-next {
        margin: 0 40px;
        padding: 50px 0;
        overflow: hidden;
        border-bottom: 1px solid $color-light-gray;
        a {
          display: inline-block;
          padding: 5px 25px;
          font-family: 'robotobold';
          font-size: 16px;
          color: $color-blue-green;
          border: 2px solid $color-blue-green;
          border-radius: 20px;
          transition: background-color .4s $ease-in-out-cubic, color .4s $ease-in-out-cubic;
          i {
            font-size: 20px;
            color: $color-gray;
            line-height: .9;
            display: inline-block;
            transition: color .4s $ease-in-out-cubic;
          }
          &.prev {
            float: left;
            padding: 8px 25px 8px 15px;
            i {
              margin-right: 10px;
            }
          }
          &.next {
            float: right;
            padding: 8px 15px 8px 25px;
            i {
              margin-left: 10px;
              transform: rotate(180deg);
            }
          }
          &:hover {
            text-decoration: none;
            background-color: $color-blue-green;
            color: #fff;
            i {
              color: #fff;
            }
          }
        }
      }
      .last-posts {
        padding: 40px 0;
        margin: 0 40px 40px;
        border-bottom: 1px solid $color-light-gray;
        ul {
          display: flex;
          justify-content: center;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            margin-right: 40px;
            flex-basis: calc(20% - 40px);
            flex-grow: 1;
            a {
              display: block;
              padding: 10px;
              transition: background-color .4s $ease-in-out-cubic;
              .image {
                img {
                  width: 100%;
                }
              }
              h4 {
                margin: 10px 0;
                font-family: "titillium_webbold";
                font-size: 15px;
                color: $color-dark-gray;
                text-align: left;
              }
              .date {
                display: block;
                font-family: 'robotoregular';
                font-size: 12px;
                font-style: italic;
                color: $color-light-gray;
                transition: color .4s $ease-in-out-cubic;
              }
              &:hover {
                text-decoration: none;
                background-color: $color-light-gray;
                .date {
                  color: $color-dark-gray;
                }
              }
            }
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .full-width-map {
    #gmap {
      height: 400px;
    }
  }

  .contact {
    h2 {
      color: $color-blue-green;
      margin-top: 0;
    }
    .address-list {
      margin-top: 65px;
    }
  }

  .section-carousel {
    background-color: #f2f2f2;
    .section-content {
      overflow: hidden;
      h3 {
        font-family: "titillium_webbold";
        font-size: 32px;
        color: $color-dark-gray;
        text-align: center;
        margin: 0 0 40px;
      }
    }
  }

  .section-video {
    background-color: #d5d5d5;
    .section-content {
      padding: 0 40px;
      h3 {
        font-family: "titillium_webbold";
        font-size: 32px;
        color: $color-dark-gray;
        text-align: center;
        margin: 0 0 40px;
      }
      article {
        font-family: 'robotoregular';
        font-size: 16px;
        color: $color-dark-gray;
        margin-bottom: 40px;
        text-align: center;
      }
      .movie {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.btw-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  .ngdialog-overlay {
    z-index: 100;
    background-color: rgba(255,255,255,.6);
  }
  .ngdialog-content {
    position: relative;
    z-index: 102;
    width: 800px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    padding: 20px 60px;
    border: 2px solid $color-blue-green;
    box-shadow: 1px 1px 6px 0 #000;
    background: linear-gradient(to bottom, #fff, #f2f2f2);
  }
  .ngdialog-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    color: $color-blue-green;
    cursor: pointer;
    transition: transform .4s $ease-in-out-cubic;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media all and (max-width: 991px) {
  body {
    .section {
      padding: 60px 0;
      .title {
        table-layout: auto;
        > div {
          width: 1%;
          padding: 0 10px;
        }
      }
    }

    .blog-list {
      .section-content {
        .row {
          .item {
            article {
              padding: 0;
              margin-top: 20px;
            }
          }
        }
      }
    }

    .blog-single {
      .section-content {
        .return-to-list {
          margin-bottom: 20px;
        }
        article {
          padding: 20px;
        }
        .prev-next {
          margin: 0 20px;
        }
        .last-posts {
          margin-left: 20px;
          margin-right: 20px;
          ul {
            flex-wrap: wrap;
            li {
              flex-basis: calc(50% - 20px);
              margin-bottom: 40px;
              &:nth-child(even) {
                margin-right: 0;
              }
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .full-width-map {
      #gmap {
        height: 300px;
      }
    }

    .section-video {
      .section-content {
        padding: 0 20px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  body {
    .section {
      padding: 40px 0;
      .title {
        margin-bottom: 30px;
        > div {
          h2 {
            font-size: 40px;
          }
        }
      }
      .tags {
        width: 100%;
        margin: -20px 0 30px;
        font-size: 16px;
      }
    }

    .blog-single {
      .section-content {
        article {
          blockquote {
            font-size: 24px;
          }
        }
        .last-posts {
          ul {
            //flex-flow: column;
            li {
              margin-right: 20px;
              margin-bottom: 20px;
              flex-basis: calc(50% - 10px);
              a {
                .image {
                  img {
                    max-width: 300px;
                  }
                }
                h4 {
                  font-size: 20px;
                }
                .date {
                  font-size: 14px;
                }
              }
              &:nth-child(even) {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    footer {
      padding-top: 30px;
      .footer-logo {
        margin-top: 0;
      }
      .footer-contact {
        p {
          font-size: 14px;
        }
      }
    }

    .not-found {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
    }
  }

  .btw-dialog {
    .ngdialog-content {
      padding: 20px;
    }
  }
}

@media all and (max-width: 479px) {
  body {
    .section {
      .title {
        margin-bottom: 30px;
        > div {
          h2 {
            font-size: 30px;
          }
        }
      }
    }
    footer {
      padding-top: 20px;
      [class*="col-md-"] {
        width: 100%;
        margin: 0;
      }
    }

    .blog-single {
      .section-content {
        .prev-next {
          padding: 20px 0;
          a {
            display: block;
            float: none !important;
            margin-bottom: 20px;
            text-align: center;
          }
        }
        .last-posts {
          ul {
            li {
              flex-direction: column;
              margin-bottom: 20px;
              flex-basis: 100%;
              a {
                .image {
                  img {
                    width: 100%;
                  }
                }
                h4 {
                  font-size: 18px;
                }
              }
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .not-found {
      h2 {
        font-size: 36px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

//MODULES
@import 'sections';