@import '../../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import 'variables';

body {
  .section {
    &.section-blue {
      background-color: #f2f2f2;
    }
    &.section-classic-content {
      article {
        text-align: center;
      }
    }
    &.section-product-list {
      .item {
        display: block;
        margin-bottom: 20px;
        .icon {
          text-align: center;
          span {
            font-size: 40px;
          }
        }
        .image {
          img {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 100%;
          }
        }
        article {
          text-align: center;
          h3 {
            font-family: "titillium_webbold";
            font-size: 24px;
          }
          p {
            font-size: 16px;
          }
          span {
            margin-top: 20px;
            font-family: titillium_websemibold;
            font-size: 18px;
            color: $color-blue-green;
          }
        }
      }
      a {
        padding: 10px;
        color: $color-dark-gray;
        background-color: transparent;
        transition: background-color .4s $ease-in-out-quad;
        article {
          span {
            color: $color-blue-green;
          }
        }
        &:hover {
          background-color: $color-light-gray;
          text-decoration: none;
        }
      }
      &.section-product-list-inverted {
        .item {
          article {
            h3 {
              margin-top: 0;
              margin-bottom: 10px;
            }
          }
        }
      }
      &.section-products-and-services-hidden {
        .item {
          height: 0;
          opacity: 0;
          margin-bottom: 0;
          padding: 0;
          position: relative;
          z-index: 10;
          transform: translateY(100px);
          transition: transform 1s $ease-in-out-cubic, opacity 1s $ease-in-out-cubic, background-color .4s $ease-in-out-quad;
          &.visible {
            padding: 10px;
            margin-bottom: 20px;
            height: auto;
            opacity: 1;
            transform: translateY(0);
          }
        }
        .load-more {
          text-align: center;
        }
      }
    }

    &.section-banner {
      padding: 0;
      background-position: center top;
      background-size: cover;
      height: 450px;
      &.with-link {
        a {
          display: table;
          height: 100%;
          width: 100%;
          > div {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            text-align: center;
            background-color: rgba(0,0,0,.6);
            transition: background-color .6s $ease-in-out-quad;
            h3 {
              font-family: 'titillium_websemibold';
              font-size: 50px;
              text-transform: uppercase;
              color: #fff;
              margin-bottom: 30px;
            }
            button {
              font-family: 'titillium_weblight';
              font-size: 20px;
              color: #fff;
              display: inline-block;
              padding: 5px 40px;
              border: 1px solid $color-blue-green;
              border-radius: 25px;
              background-color: transparent;
              transition: background-color .6s $ease-in-out-quad;
            }
          }
          &:hover {
            text-decoration: none;
            > div {
              background-color: rgba(0,0,0,.8);
              button {
                background-color: $color-blue-green;
              }
            }
          }
        }
      }
      &.section-banner-only-title {
        height: 350px;
        background-color: $color-dark-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
          font-family: 'titillium_websemibold';
          font-size: 50px;
          color: #fff;
          text-align: center;
        }
      }
    }

    &.section-subpage-banner {
      padding: 0;
      background-position: center top;
      background-size: cover;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0,0,0,.6);
        transition: background-color .6s $ease-in-out-quad;
      }
      .center {
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        h2 {
          margin: 0 auto 20px;
          font-family: "titillium_webbold";
          font-size: 50px;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 30px;
        }
        p {
          color: #fff;
          font-size: 18px;
        }
      }
    }

    &.section-contact {
      #gmap {
        height: 400px;
        margin-top: 20px;
        .gmap-infowindow {
          padding: 15px 10px 0;
          p {
            font-family: "titillium_webbold";
            font-size: 20px;
            color: #000;
          }
        }
      }
      address {
        margin-top: 20px;
        font-size: 16px;
      }
    }

    &.section-product-info {
      article {
        margin-bottom: 30px;
      }
      .button-primary {
        margin-right: 20px;
      }
    }

    &.section-product-specification {
      background-color: #f2f2f2;
      h2 {
        font-family: "titillium_webbold";
        font-size: 34px;
        color: $color-dark-gray;
        text-align: center;
        margin-bottom: 40px;
      }
      table {
        width: 100%;
        border-spacing: 10px;
        border-collapse: separate;
        thead {
          tr {
            th {
              background-color: $color-blue-green;
              padding: 25px;
              text-align: center;
              font-family: "titillium_webbold";
              font-size: 24px;
              color: #fff;
              vertical-align: top;
            }
          }
        }
        tbody {
          tr {
            td {
              background-color: #fff;
              padding: 25px;
              text-align: center;
              vertical-align: top;
            }
          }
        }
      }
    }

    &.section-product-additional-info {
      background-color: #fff;
      h3 {
        font-family: "titillium_webbold";
        font-size: 34px;
        color: $color-dark-gray;
        text-align: center;
        margin-bottom: 40px;
      }
      article {
        //column-count: 2;
        //column-gap: 20px;
        text-align: center;
        h3 {
          font-family: "titillium_webbold";
          font-size: 22px;
          color: $color-dark-gray;
          margin: 10px 0 20px;
        }
      }
    }

    &.section-modals-list {
      .section-content {
        h2 {
          text-align: center;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  body {
    .section {
      &.section-product-list {
        [class*="col-md-"] {
          .item {
            margin-bottom: 30px;
            .icon {
              span {
                font-size: 60px;
              }
            }
          }
          &:last-of-type {
            .item {
              margin-bottom: 0;
            }
          }
        }
      }
      &.section-modals-list {
        .section-content {
          .title {
            div {
              padding: 0;
            }
          }
          h2 {
            text-align: left;
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  body {
    .section {
      &.section-product-list {
        [class*="col-md-"] {
          .item {
            margin-bottom: 30px;
            article {
              h3 {
                font-family: "titillium_websemibold";
                font-size: 20px;
              }
            }
          }
          &:last-of-type {
            .item {
              margin-bottom: 0;
            }
          }
        }
      }

      &.section-banner {
        height: 300px;
        &.with-link {
          a > div {
            h3 {
              font-size: 30px;
            }
          }
        }
        &.section-banner-only-title {
          height: 200px;
          h3 {
            font-size: 30px;
          }
        }
      }

      &.section-subpage-banner {
        .center {
          height: 200px;
          h2 {
            font-size: 30px;
          }
          p {
            font-size: 16px;
          }
        }
      }

      &.section-product-specification {
        h2 {
          font-size: 30px;
          margin-bottom: 30px;
        }
        table {
          thead {
            tr {
              th {
                font-size: 18px;
                padding: 15px;
              }
            }
          }
          tbody {
            tr {
              td {
                padding: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 479px) {
  body {
    .section {
      &.section-banner {
        height: 200px;
        &.with-link {
          a > div {
            h3 {
              font-size: 26px;
            }
          }
        }
        &.section-banner-only-title {
          height: 150px;
          h3 {
            font-size: 26px;
          }
        }
      }

      &.section-subpage-banner {
        .center {
          height: 150px;
          h2 {
            font-size: 28px;
            margin-bottom: 10px;
          }
        }
      }

      &.section-contact {
        address {
          margin-top: 20px;
          font-size: 16px;
          [class*="col-md-"] {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}