@import 'variables';

h2 {
  font-family: 'montserratlight';
  font-size: 36px;
  margin: 20px 0 10px;
}

h3 {
  font-family: 'montserratregular';
  font-size: 26px;
}

h4 {
  font-family: 'montserratregular';
  font-size: 22px;
  text-align: center;
}

html, body {
  font-family: robotoregular;
  color: $text-color;
}

@media all and (max-width: 767px) {
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }
}

