//fonts


//colors
$color-dark-gray: #2b2b2b;
$color-light-gray: #dadada;
$color-light-gray: #d1d3d2;
$color-gray: #717171;
$color-dark-gray: #5a5a5a;
$color-pink: #ffa2a2;
$color-blue-green: #137a8c;

$primary-color: $color-blue-green;
$secondary-color: $color-pink;
$text-color: $color-dark-gray;