<div class="slider slider-full-width">
  <div class="slide"
     ng-repeat="($index, item) in $ctrl.items"
     ng-if="$ctrl.activeItem == $index && !item.link"
     style="background-image: url('{{::item.image}}')">

    <article>
      <h2>{{::item.title}}</h2>
      <p>{{::item.subtitle}}</p>
    </article>
  </div>

  <a href="{{::item.link}}" title="{{::item.title}}"
     class="slide"
     ng-repeat="($index, item) in $ctrl.items"
     ng-if="$ctrl.activeItem == $index && item.link"
     style="background-image: url('{{::item.image}}')">

      <article>
        <h2>{{::item.title}}</h2>
        <p>{{::item.subtitle}}</p>
      </article>
  </a>

  <div class="pagination" ng-if="$ctrl.pagination">
    <nav>
      <span ng-repeat="($index, item) in $ctrl.items"
            ng-class="{'active': $ctrl.activeItem == $index}"
            ng-click="$ctrl.changeSlide(true, $index)">
      </span>
    </nav>
  </div>
</div>