@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

section-slider-full-width-component {
  display: block;
  width: 100%;
  .slider {
    position: relative;
    width: 100%;
    height: 430px;
    .slide {
      display: flex;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      text-decoration: none;
      &.ng-enter {
        opacity: 0;
        transition: opacity 2s $ease-in-out-quad;
      }
      &.ng-enter-active {
        opacity: 1;
      }
      &.ng-leave {
        opacity: 1;
        transition: opacity 2s $ease-in-out-quad;
      }
      &.ng-leave-active {
        opacity: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0,0,0,.3);
        transition: background-color .6s $ease-in-out-quad;
      }
      article {
        position: relative;
        z-index: 10;
        text-align: center;
        h2 {
          margin: 0 auto 20px;
          font-family: 'titillium_webbold';
          text-align: center;
          font-size: 50px;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 30px;
        }
        p {
          color: #fff;
          font-size: 18px;
        }
      }
    }
    .pagination {
      position: absolute;
      right: 0;
      bottom: 30px;
      left: 0;
      z-index: 2;
      text-align: center;
      nav {
        display: inline-block;
        span {
          display: inline-block;
          width: 15px;
          height: 15px;
          border: 1px solid $color-blue-green;
          background-color: #fff;
          cursor: pointer;
          border-radius: 100%;
          transition: background-color .3s $ease-in-out-quad;
          margin: 0 10px;
          &.active,
          &:hover {
            background-color: $color-blue-green;
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  section-slider-full-width-component {
    .slider {
      height: 320px;
      .slide {
        article {
          text-align: center;
          h2 {
            font-size: 30px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  section-slider-full-width-component {
    .slider {
      height: 240px;
      .slide {
        article {
          text-align: center;
          h2 {
            font-size: 28px;
            margin-bottom: 10px;
          }
        }
      }
      .pagination {
        bottom: 15px;
      }
    }
  }
}