@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

html, body {
  overflow: auto;
}

header#main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px 50px;
  background-color: #fff;
  height: 85px;
  z-index: 1000;
  -webkit-transform: translateZ(0);
  h1 {
    display: inline-block;
    margin: 0;
    .logo {
      display: block;
    }
  }
  .menu {
    padding: 20px 0;
    text-align: right;
    nav {
      display: inline-block;
      -webkit-transform: translateZ(0);
      ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          padding: 0 5px;
          margin: 0;
          a {
            display: block;
            padding: 3px;
            font-family: titillium_websemibold;
            font-size: 18px;
            color: $text-color;
            transition: color .3s $ease-in-out-quad;
            &:hover {
              text-decoration: none;
              color: $color-blue-green;
            }
          }
          &.active {
            a {
              color: $color-blue-green;
            }
          }
        }
      }
      &.main-menu {
        position: relative;
        padding-right: 20px;
        &::after {
          content: "";
          position: absolute;
          top: 7px;
          right: 0;
          width: 1px;
          height: 20px;
          background-color: $color-blue-green;
          margin: 0 10px;
        }
      }
      &.lang-menu {
        ul {
          li {
            padding: 0 3px;
            a {
              padding: 5px 3px;
              font-size: 14px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1199px) {
  header#main-header {
    .menu {
      nav {
        ul {
          li {
            padding-left: 0;
            padding-right: 0;
            a {
              font-size: 16px;
            }
          }
        }
        &.lang-menu {
          ul {
            li {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  header#main-header {
    padding: 5px 0;
  }
}