@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

cookies-component {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  .cookies-box {
    background-color: $color-blue-green;
    padding: 40px 0;
    [ng-transclude] {
      color: #fff;
      font-family: 'Arial';
      font-size: 12px;
      padding-right: 100px;
      a {
        color: lighten($color-blue-green, 20%);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .close-cookies {
      outline: none;
      text-decoration: none;
      text-transform: lowercase;
      color: lighten($color-blue-green, 20%);
      border: none;
      width: 40px;
      height: 40px;
      background: url('/wp-content/themes/btw/app/shared/images/close-square.png') no-repeat center;
      background-color: transparent;
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
      transition: background-color .4s $ease-in-out-cubic;
      &:hover {
        background-color: #fff;
      }
    }
    &.ng-leave {
      transform: translateY(0);
      transition: transform .6s $ease-in-out-cubic;
    }
    &.ng-leave-active {
      transform: translateY(100%);
    }
  }
}

@media all and (max-width: 767px) {
  cookies-component {
    .cookies-box {
      padding: 20px 0;
      [ng-transclude] {
        padding-right: 50px;
        font-size: 11px;
      }
      .close-cookies {
        right: 20px;
        width: 30px;
        height: 30px;
      }
    }
  }
}