<div class="item not-visible" when-visible="$ctrl.animateElementIn" ng-class="(key % 2 === 0 ? 'even' : 'odd')" ng-repeat="(key, item) in $ctrl.items">
    <article class="not-visible">
        <h3 ng-bind-html="item.title"></h3>
        <p ng-bind-html="item.content"></p>
    </article>
    <div class="image not-visible">
        <img ng-src="{{::item.image}}" alt="{{::item.title}}" class="img-responsive">
    </div>
</div>