@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

box-multiple-component {
  display: block;
  position: relative;
  .item {
    padding: 60px 0;
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        flex-basis: 50%;
        img {
          display: inline-block;
        }
        &.not-visible {
          visibility: hidden;
        }
      }
      article {
        flex-basis: 50%;
        &.not-visible {
          visibility: hidden;
        }
      }
    }
    &.even {
      background-color: #f2f2f2;
      .center {
        flex-direction: row;
        .image {
          text-align: right;
        }
        article {
          text-align: left;
          margin-right: 30px;
        }
      }
    }
    &.odd {
      .center {
        flex-direction: row-reverse;
        .image {
          text-align: left;
        }
        article {
          text-align: right;
          margin-left: 30px;
        }
      }
    }
    &.not-visible {
      visibility: hidden;
    }
  }
}

@media all and (max-width: 991px) {

}

@media all and (max-width: 767px) {
  box-multiple-component {
    .item {
      .center {
      align-items: flex-start;
        article {
          h3 {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 479px) {
  box-multiple-component {
    .item {
      .center {
        flex-direction: column !important;
        .image {
          order: 1;
        }
        article {
          order: 2;
          padding: 0;
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }
}