@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

.section-image-slider {
  &:nth-child(odd) {
    background-color: #f2f2f2;
  }
}

images-slider-component {
  display: block;
  width: 100%;
  position: relative;
  opacity: 0;
  transition: opacity .6s $ease-in-out-cubic;
  &.calculated {
    opacity: 1;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: opacity .6s $ease-in-out-cubic, transform .6s $ease-in-out-cubic;
    &.next {
      transform: translateX(100%);
    }
    &.prev {
      transform: translateX(-100%);
    }
    &.active {
      transform: translateX(0);
      opacity: 1;
    }
  }
  nav {
    position: absolute;
    z-index: 2;
    left: 20px;
    right: 20px;
    bottom: 10%;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 2px solid $color-blue-green;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      color: $color-gray;
      outline: none;
      transition: color .4s $ease-in-out-cubic, background-color .4s $ease-in-out-cubic;
      i {
        font-size: 24px;
      }
      &.previous {
        float: left;
      }
      &.next {
        float: right;
        i {
          transform: rotate(180deg);
        }
      }
      &:hover {
        color: #fff;
        background-color: $color-blue-green;
      }
    }
  }
}

@media all and (max-width: 991px) {
  images-slider-component {

  }
}

@media all and (max-width: 767px) {
  images-slider-component {

  }
}