<div ng-swipe-left="$ctrl.changeSlide(true, $ctrl.activeItem + 1)" ng-swipe-right="$ctrl.changeSlide(true, $ctrl.activeItem - 1)">
    <img class="slide-image" ng-src="{{image.image}}" ng-repeat="($index, image) in $ctrl.images" alt="{{image.image}}" ng-class="{'prev': $index < $ctrl.activeItem, 'next': $index > $ctrl.activeItem, 'active': $index == $ctrl.activeItem}">

    <nav ng-if="$ctrl.images.length > 1">
        <button type="button" class="previous" ng-click="$ctrl.changeSlide(true, $ctrl.activeItem - 1)">
            <i class="icon icon-arrow-bold-left"></i>
        </button>
        <button type="button" class="next" ng-click="$ctrl.changeSlide(true, $ctrl.activeItem + 1)">
            <i class="icon icon-arrow-bold-left"></i>
        </button>
    </nav>
</div>