<div class="close-product-carousel" ng-class="{'opened': $ctrl.sliderOpened}" ng-click="$ctrl.toggleSlider()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="carousel-close" ng-if="$ctrl.sliderOpened">
                        <em>{{::$ctrl.closeText}}</em>
                        <span class="icon-up-open"></span>
                    </div>
                    <div class="carousel-open" ng-if="!$ctrl.sliderOpened">
                        <em>{{::$ctrl.openText}}</em>
                        <span class="icon-up-open"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>