@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

.section-image-slider {
  &:nth-child(odd) {
    background-color: #f2f2f2;
  }
}

product-carousel-component {
  display: block;
  position: relative;
  background-color: #fff;

  .close-product-carousel {
    background-color: #f2f2f2;
    padding: 15px 0;
    cursor: pointer;
    transition: background-color .4s $ease-in-out-cubic;
    span {
      display: inline-block;
      color: $color-blue-green;
    }
    em {
      font-family: 'titillium_websemibold';
      font-size: 15px;
      color: $color-blue-green;
      font-style: normal;
    }
    &:hover {
      background-color: $color-light-gray;
    }
    .carousel-open {
      span {
        transform: rotate(180deg);
      }
    }
  }

  [class*="col-md-"]:first-child {
    min-height: 0;
  }

  .carousel-container {
    position: relative;
    margin: 0;
    opacity: 0;
    padding: 0 40px;
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s $ease-in-out-cubic, opacity .4s $ease-in-out-cubic;
    &.opened {
      max-height: 1000px;
      opacity: 1;
    }
    #product-carousel {
      position: relative;
      z-index: 5;
      padding: 40px 0;
      display: flex;
      align-items: flex-end;
      transition: transform .6s $ease-in-out-cubic;
      .slide {
        display: block;
        float: left;
        opacity: 0;
        transition: opacity .6s $ease-in-out-cubic, background-color .4s $ease-in-out-cubic;
        .slide-content {
          display: flex;
          flex-direction: column;
          margin: 0 20px;
          h3 {
            margin: 0 0 20px;
            font-family: 'titillium_webbold';
            font-size: 20px !important;
            color: $color-dark-gray;
            text-align: center;
          }
          .image {
            img {
              width: 100%;
              display: block;
            }
          }
        }
        &.active {
          opacity: 1;
        }
        &:hover {
          text-decoration: none;
          opacity: .8;
        }
      }
    }

    nav {
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 20px);
      button {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 2px solid $color-blue-green;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        color: $color-gray;
        outline: none;
        transition: color .4s $ease-in-out-cubic, background-color .4s $ease-in-out-cubic;
        i {
          font-size: 24px;
        }
        &.previous {
          float: left;
        }
        &.next {
          float: right;
          i {
            transform: rotate(180deg);
          }
        }
        &:hover {
          color: #fff;
          background-color: $color-blue-green;
        }
      }
    }
  }

  &.calculated {
    .carousel-container {
      opacity: 1;
    }
  }
}

@media all and (max-width: 991px) {
  product-carousel-component {

  }
}

@media all and (max-width: 767px) {
  product-carousel-component {

  }
}