    <product-carousel-button-component open-text="{{$ctrl.openText}}" close-text="{{$ctrl.closeText}}" slider-opened="$ctrl.sliderOpened" toggle-slider="$ctrl.toggleSlider()"></product-carousel-button-component>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-container" ng-class="{'opened': $ctrl.sliderOpened}">
                    <div id="product-carousel" ng-swipe-left="$ctrl.changeSlide(true, $ctrl.activeItem + 1, $event)" ng-swipe-right="$ctrl.changeSlide(true, $ctrl.activeItem - 1, $event)" ng-style='{
                "transform": "translateX(-" + $ctrl.sliderPosition + "px",
                "-webkit-transform": "-webkit-translateX(-" + $ctrl.sliderPosition + "px",
                "-moz-transform": "-moz-translateX(-" + $ctrl.sliderPosition + "px",
                "-o-transform": "-o-translateX(-" + $ctrl.sliderPosition + "px"
                }'>
                        <a href="{{::slide.link}}" title="{{::slide.post_title}}" class="slide" ng-repeat="($index, slide) in $ctrl.items" alt="{{slide.image.title}}" ng-class="{'active': $index == $ctrl.activeItem || ($index > $ctrl.activeItem && $index <= $ctrl.activeItem + ($ctrl.visible - 1))}">
                            <div class="slide-content">
                                <h3>{{slide.post_title}}</h3>
                                <div class="image">
                                    <img ng-src="{{slide.image.url}}" alt="{{slide.image.title}}">
                                </div>
                            </div>
                        </a>
                    </div>

                    <nav ng-swipe-left="$ctrl.stopScroll($event)" ng-swipe-right="$ctrl.stopScroll($event)" ng-if="$ctrl.items.length > $ctrl.visible">
                        <button type="button" class="previous" ng-click="$ctrl.changeSlide(true, $ctrl.activeItem - 1)">
                            <i class="icon icon-arrow-bold-left"></i>
                        </button>
                        <button type="button" class="next" ng-click="$ctrl.changeSlide(true, $ctrl.activeItem + 1)">
                            <i class="icon icon-arrow-bold-left"></i>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>