@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

loader-component {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  .loader {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: relative;
    background-color: rgba(255,255,255,.7);
    z-index: 10;
    .center {
      display: table-cell;
      height: 100%;
      width: 100%;
      vertical-align: middle;
      text-align: center;
      .icon {
        display: inline-block;
        em {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: 0 20px;
          background-color: $secondary-color;
          @include border-top-radius(100%);
          @include border-bottom-radius(100%);
          &:nth-child(1) {
            @include animation(bounce .9s .3s $ease-in-out-quad infinite);
          }
          &:nth-child(2) {
            @include animation(bounce .9s .6s $ease-in-out-quad infinite);
          }
          &:nth-child(3) {
            @include animation(bounce .9s .9s $ease-in-out-quad infinite);
          }
        }
      }
    }
    &.ng-enter {
      opacity: 0;
      @include transition(opacity .6s $ease-in-out-quad);
    }
    &.ng-enter-active {
      opacity: 1;
    }
    &.ng-leave {
      opacity: 1;
      @include transition(opacity .6s $ease-in-out-quad);
    }
    &.ng-leave-active {
      opacity: 0;
    }
  }
  @media all and (max-width: 767px) {
    .loader {
      min-height: 100px;
    }
  }
}

@-webkit-keyframes bounce {
  0% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(2));
  }
  100% {
    @include transform(scale(1));
  }
}
@-moz-keyframes bounce {
  0% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(2));
  }
  100% {
    @include transform(scale(1));
  }
}
@keyframes bounce {
  0% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(2));
  }
  100% {
    @include transform(scale(1));
  }
}