@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../shared/sass/variables';

.section-image-slider {
  &:nth-child(odd) {
    background-color: #f2f2f2;
  }
}

popup-slider-component {
  display: block;
  width: 100%;
  position: relative;
  padding: 40px 0;
  overflow: hidden;
  .slider {
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 100%;
    .slide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      overflow-y: auto;
      transition: opacity .6s $ease-in-out-cubic, transform .6s $ease-in-out-cubic;
      h3 {
        margin-top: 0;
      }
      img {
        width: 100%;
      }
      &.next {
        transform: translateX(100%);
      }
      &.prev {
        transform: translateX(-100%);
      }
      &.active {
        transform: translateX(0);
        opacity: 1;
      }
      &.slide-type-fourth {
        h3 {
          margin-top: 10px;
        }
      }
    }
  }
  .pagination {
    z-index: 2;
    text-align: center;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0;
    nav {
      display: inline-block;
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid $color-blue-green;
        background-color: #fff;
        cursor: pointer;
        border-radius: 100%;
        transition: background-color .3s $ease-in-out-quad;
        margin: 0 5px;
        &.active,
        &:hover {
          background-color: $color-blue-green;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  popup-slider-component {

  }
}

@media all and (max-width: 767px) {
  popup-slider-component {
    .slider {
      height: 250px;
      .slide {
        img {
          margin: 20px 0;
        }
        &.slide-type-fourth {
          img {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media all and (max-height: 400px) {
  popup-slider-component {
    .slider {
      height: 200px;
    }
  }
}