<div class="slider" ng-swipe-left="$ctrl.changeSlide(true, $ctrl.activeItem + 1)" ng-swipe-right="$ctrl.changeSlide(true, $ctrl.activeItem - 1)">
    <div class="slide slide-type-{{slide.modal_type}}" ng-repeat="($index, slide) in $ctrl.slides" ng-class="{'prev': $index < $ctrl.activeItem, 'next': $index > $ctrl.activeItem, 'active': $index == $ctrl.activeItem}" >
        <div ng-if="slide.modal_type === 'first'">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{slide.modal_title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <article ng-bind-html="slide.modal_content"></article>
                    </div>
                    <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                        <img ng-src="{{slide.modal_image_01.url}}" alt="{{slide.modal_image_01.title}}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="slide.modal_type === 'second'">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{slide.modal_title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <article ng-bind-html="slide.modal_content"></article>
                    </div>
                    <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                        <img ng-src="{{slide.modal_image_01.url}}" alt="{{slide.modal_image_01.title}}" class="img-responsive">
                        <img ng-src="{{slide.modal_image_02.url}}" alt="{{slide.modal_image_02.title}}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="slide.modal_type === 'third'">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{slide.modal_title}}</h3>
                        <article ng-bind-html="slide.modal_content"></article>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="slide.modal_type === 'fourth'">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <img ng-src="{{slide.modal_image_01.url}}" alt="{{slide.modal_image_01.title}}" class="img-responsive">
                        <h3>{{slide.modal_title}}</h3>
                        <article ng-bind-html="slide.modal_content"></article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination" ng-if="$ctrl.slides.length > 1">
        <nav>
            <span ng-repeat="($index, slide) in $ctrl.slides"
                  ng-class="{'active': $ctrl.activeItem == $index}"
                  ng-click="$ctrl.changeSlide(true, $index)"></span>
        </nav>
    </div>
</div>